annotated-types==0.7.0
numpy==2.4.1
scipy==1.17.0
torch==2.10.0
transformers==5.0.0
tokenizers==0.22.2
sentence-transformers==5.2.2
langgraph==1.0.7
chromadb==1.4.1
mmh3==5.2.0
orjson==3.11.6
PyPika==0.50.0
uuid_utils==0.14.0
requests==2.32.5
urllib3==2.6.3
certifi==2026.1.4
python-dotenv==1.2.1
PyYAML==6.0.3

